<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %>
<body>
    <div class="container">
        <br>
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo </h1>
             
            <h3><%= userSession.name %> </h3>
            
            <p class="lead">Você está na lista de artigos.</p>
            
          </div>
        
        <hr>  
    </div>
    
</body>
<%- include("../partials/footer.ejs") %>