<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a href="/" class="navbar-brand">
        GuiaPress
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <% categories.forEach(categori=>{ %>
            <li class="nav-item">
                <a class="nav-link" href="/category/<%= categori.slug %>"><%= categori.title  %></a>
            </li>
            <% }) %>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" >
            <a class="nav-link" href="/login">Login</a>
        </li>
    </ul>
</nav>